3_SlojPoslovneLogike/PoslovnaLogika/PoslovnaLogika/Connected Services/WSBolnickiPodaci/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DajSvaOgranicenja">
        <s:complexType />
      </s:element>
      <s:element name="DajSvaOgranicenjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajSvaOgranicenjaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajMaxBrojUputaNaDan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pomIDDoktora" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajMaxBrojUputaNaDanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajMaxBrojUputaNaDanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DajSvaOgranicenjaSoapIn">
    <wsdl:part name="parameters" element="tns:DajSvaOgranicenja" />
  </wsdl:message>
  <wsdl:message name="DajSvaOgranicenjaSoapOut">
    <wsdl:part name="parameters" element="tns:DajSvaOgranicenjaResponse" />
  </wsdl:message>
  <wsdl:message name="DajMaxBrojUputaNaDanSoapIn">
    <wsdl:part name="parameters" element="tns:DajMaxBrojUputaNaDan" />
  </wsdl:message>
  <wsdl:message name="DajMaxBrojUputaNaDanSoapOut">
    <wsdl:part name="parameters" element="tns:DajMaxBrojUputaNaDanResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DajSvaOgranicenja">
      <wsdl:input message="tns:DajSvaOgranicenjaSoapIn" />
      <wsdl:output message="tns:DajSvaOgranicenjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajMaxBrojUputaNaDan">
      <wsdl:input message="tns:DajMaxBrojUputaNaDanSoapIn" />
      <wsdl:output message="tns:DajMaxBrojUputaNaDanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaOgranicenja">
      <soap:operation soapAction="http://tempuri.org/DajSvaOgranicenja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajMaxBrojUputaNaDan">
      <soap:operation soapAction="http://tempuri.org/DajMaxBrojUputaNaDan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSvaOgranicenja">
      <soap12:operation soapAction="http://tempuri.org/DajSvaOgranicenja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajMaxBrojUputaNaDan">
      <soap12:operation soapAction="http://tempuri.org/DajMaxBrojUputaNaDan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://localhost:44387/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://localhost:44387/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>