3_SlojPoslovneLogike/PoslovnaLogika/PoslovnaLogika/Connected Services/WSDoktori/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DajSveDoktore">
        <s:complexType />
      </s:element>
      <s:element name="DajSveDoktoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajSveDoktoreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajDoktora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jmbg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajDoktoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajDoktoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajJmbgDoktora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prezime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajJmbgDoktoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajJmbgDoktoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DajSveDoktoreSoapIn">
    <wsdl:part name="parameters" element="tns:DajSveDoktore" />
  </wsdl:message>
  <wsdl:message name="DajSveDoktoreSoapOut">
    <wsdl:part name="parameters" element="tns:DajSveDoktoreResponse" />
  </wsdl:message>
  <wsdl:message name="DajDoktoraSoapIn">
    <wsdl:part name="parameters" element="tns:DajDoktora" />
  </wsdl:message>
  <wsdl:message name="DajDoktoraSoapOut">
    <wsdl:part name="parameters" element="tns:DajDoktoraResponse" />
  </wsdl:message>
  <wsdl:message name="DajJmbgDoktoraSoapIn">
    <wsdl:part name="parameters" element="tns:DajJmbgDoktora" />
  </wsdl:message>
  <wsdl:message name="DajJmbgDoktoraSoapOut">
    <wsdl:part name="parameters" element="tns:DajJmbgDoktoraResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DajSveDoktore">
      <wsdl:input message="tns:DajSveDoktoreSoapIn" />
      <wsdl:output message="tns:DajSveDoktoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajDoktora">
      <wsdl:input message="tns:DajDoktoraSoapIn" />
      <wsdl:output message="tns:DajDoktoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajJmbgDoktora">
      <wsdl:input message="tns:DajJmbgDoktoraSoapIn" />
      <wsdl:output message="tns:DajJmbgDoktoraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSveDoktore">
      <soap:operation soapAction="http://tempuri.org/DajSveDoktore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajDoktora">
      <soap:operation soapAction="http://tempuri.org/DajDoktora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajJmbgDoktora">
      <soap:operation soapAction="http://tempuri.org/DajJmbgDoktora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSveDoktore">
      <soap12:operation soapAction="http://tempuri.org/DajSveDoktore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajDoktora">
      <soap12:operation soapAction="http://tempuri.org/DajDoktora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajJmbgDoktora">
      <soap12:operation soapAction="http://tempuri.org/DajJmbgDoktora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://localhost:44340/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://localhost:44340/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>